/*Los iconos*/
.icohome{
  float: left;
}
.icohome i{
  font-size: 30px;
}
.icomenuhome{
  float: right;
  padding-right: 5px;
}
.icomenuhome i{
  font-size: 30px;
}
.glyphicon {
  font-size: 20px;
  float: left;
}
/**/
.row{
    height: 100%;
}
/*menu*/
.contmenuhed{
  width: auto !important;
  padding-left: 30px !important;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #010d19;
}
.contmenuhed2{
  width: auto !important;

}
.hidetextmenu{
  float: left;
}
/*logo*/
.contlogohed{
  background-color: white;
}
/**/
#secleft{
    background-color: #001529;
    height: 100%;
    position: fixed;
    width: 16.6%;
}

.secright{
    background-color: #f0f2f5;
    height: 100%;
}

#contleft{
    height: 100%;
    padding: 0px 0px !important;
    position:relative;
}
#contright{
    padding: 0px 0px !important;
}
.menuleft{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    font-size: 11pt;
}
.menuleft li{
  padding: 20px 10px 20px 10px;
}
.menuleft li a {
    color: #ffffffa6;
    text-decoration: none;
    display: block;
}

  .itemhover {
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  .itemhover:hover {
    background: transparent;
    text-decoration: none;
    transition: background 500ms;
  }
  p.title {
    color: #000;
    padding: 5px 24px;
    text-align: left;
    background-color: #fff;
    margin: 0px;
  }
  p.theimg{
    margin: 0px;
  }
  p.price{
    color: red;
    font-weight: bold;
    background-color: #fff; 
    padding: 5px 24px; 
    margin: 0px; 
  }
  
  p.btnadd{
    margin: 0px;  
    opacity: 0.0;
    text-align: center;
    padding: 5px 0px;
  }
  p.btnadd button{
    background-color: #fb615f;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    width: 70%;
  }
  .itemhover:hover p.title, .itemhover:hover a, .itemhover:hover p.btnadd{
    color: #000;
    text-decoration: none;
    opacity: 1.0;
    background-color: #fff; 
  }
  
  .img {
    margin: 0 0 80px;
  }
  
  .img h2 {
    color: #000;
    padding: 20px 108px;
  }
  .img p {
    color: #6f6f6f;
    margin: 0;
    padding: 0 108px 0;
  }
  

/*para el carrusel*/
.carrusel{
  position: relative;
}
#slides_control > div{
  height: 200px;
}
img{
  margin:auto;

}
#slides_control {
  position: absolute;

  left:50%;
  top:20px;
 margin-left:-200px;
}

/*see Information*/
.xxkkk {
  width: 100% !important;
}
.xktutu {
  text-align: center;
}
/*filtros*/
.btnsearch{
  width: 100%;
  color: #fff !important;
  background-color: #fb615f !important;
  border-color: #fb615f !important;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12) !important;
  box-shadow: 0 2px 0 rgba(0,0,0,.035) !important;
}
.txtsearch{
  padding-left: 20px;
  width: 100%;
}
.txtselect, .btnsearch, .txtsearch {
  height: 40px;
  width: 100%;
}

/*css responsive*/


@media (max-width: 480px) {

  .hidetextmenu{
    font-size: 9px;
  }
  
}