<div class="col-md-12 col-sm-12 col-xs-12">
        <div class="" >


              
                <h3>Search Products</h3>



              <div class="container container2prod">
                <div class="row">
                  <div style="padding-right: 0px !important;padding-left: 0px !important;margin-bottom: 15px;" class="item col-md-3 col-sm-3 col-xs-11">
                      <select class="txtselect" name="" id="opidselect" onchange="window.location=this.options[this.selectedIndex].value">
                            <option value="">--Select Category--</option>
                            <option id="categoryid" ng-repeat="cat in categories.msg track by $index" ng-if="cat.parent_id==0" value="#/Result/category-{{cat.cat_id}}/1"> {{cat.cat_name}}</option>
                      </select>
                    
                    </div>
                  <div style="padding-right: 0px !important;padding-left: 0px !important;" class="item col-md-7 col-sm-7 col-xs-9">
                      <input placeholder="I'm shopping for..." class="txtsearch" type="text" ng-model="busquedaprod" ng-keyup="searchtxt(busquedaprod)">
                  </div>    
                  <div style="padding-left: 0px !important;" class="item col-md-2 col-sm-2 col-xs-3">
                      <button  ng-click="buscarProducts(busquedaprod);" class="btn btnsearch">Search</button>
                  </div>
                </div>
              </div>  


          <div class="container">
            <table class="table table-bordered">
                <tr>
                    <td>page_number</td>
                    <td>per_page</td>
                    <td>total_pages</td>
                </tr>
    
                <tr >
                    <td>{{Allproducts.msg.page_number}}</td>
                    <td>{{Allproducts.msg.per_page}}</td>
                    <td>{{Allproducts.msg.total_pages}}</td>
                </tr>
            </table>
          </div>


  <!-- Alert msg-->
  <div id="alertskus" class="alert alert-success alertskus2" ng-class="'alert-' + (alert.type || 'success')" uib-alert close="close($index)" 
    ng-repeat="a in alert" 
    type="{{a.type}}">
    <i class="glyphicon glyphicon-ok">&nbsp; </i>
    {{a.value}} 
  </div>

        <div class="">
            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                <div class="">
                  <br>

                  <div class="row">

                    <div class="item col-md-2 col-sm-2 col-xs-0 subcategories">
                      <ul ng-repeat="cat in categories.msg track by $index">
                        <li ng-if="cat.parent_id==parentidsubcategoria">
                          <a href="#/Result/category-{{cat.cat_id}}/1">{{cat.cat_name}}</a>
                        </li>
                      </ul>
                    </div>


                    <div class="item col-md-2 col-sm-3 col-xs-12 itemcarrusel" ng-repeat="prod in dataProducts track by $index">
                      <a  class="itemhover" href="#/products/{{ prod.sku }}">
                        <p class="theimg" ng-repeat="img in prod.original_img track by $index">
                          <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                        </p>
                        <input id="valueskuid" class="valuesku" type="text" value="{{ prod.sku }}">
                        <input class="valuesparentid" type="hidden" value="{{ prod.parent_id }}">
                        <p  class="title">{{ prod.title }}</p>
                        <p class="price">$ {{ prod.warehouse_list.YB.price }}</p>
                      </a>   
                        <p class="btnadd3"><button id="disable{{prod.sku}}"  ng-click="addToCard(prod)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                    </div>
                  </div>
                  <hr/>


                  <div> <label>Load Products from Page: </label> {{Allproducts.msg.page_number}}</div>
                  <ul class="pagination js-pagination" id="pagination2"></ul>

<!--
                  <ul pagination total-items="totalProducts"  items-per-page="numPerPageProducts" page="currentPageProducts"></ul>
-->  
<!--
                <ul pagination total-items="totalProducts"  items-per-page="numPerPageProducts" page="currentPageProducts" previous-text="|<" next-text=">|">
                </ul>
-->                



                </div>
              </div>




    <div class="container">
        <header class="app-header">
          <h1 class="app-title">{{ appTitlesku }}</h1>
        </header>
      
        <section class="app-body">
          <section class="archive-control">
            <span>{{ remainingsku() }} of {{ todossku.length }} remaining</span>
            <p>[ <a href="" data-ng-click="archivesku()">Remove Completed Items</a> ]</p>
          </section>
      
          <ul class="unstyled">
            <li data-ng-repeat="todosku in todossku track by $index">
              <input type="checkbox" data-ng-model="todosku.donesku">
              <span class="donesku-{{ todosku.donesku }}">{{ todosku.textsku }}</span>
            </li>
          </ul>

        </section>
      </div>

          
</div>  


</div>