<div class="col-md-12 col-sm-12 col-xs-12">


              <div class="container container2prod">
                <div class="row">
                  <div style="margin-bottom: 15px; padding-left: 0px !important;" class="item col-md-3 col-sm-3 col-xs-12">
                     <div class="comboallprod">
                        <select class="txtselect" name="" id="opidselect" onchange="window.location=this.options[this.selectedIndex].value">
                                <option value="">in All Categories</option>
                                <option id="categoryid" ng-repeat="cat in categories.msg track by $index" ng-if="cat.parent_id==0" value="#/Result/category-{{cat.cat_id}}/1"> {{cat.cat_name}}</option>
                        </select>
                     </div>
                  </div>


                  <div style="padding-right: 0px !important;padding-left: 0px !important;" class="item col-md-7 col-sm-7 col-xs-8">
                      <input placeholder="I'm shopping for..." class="txtsearch" type="text" ng-model="busquedaprod" ng-keyup="searchtxt(busquedaprod)">
                  </div>   
                  
                  <div style="padding-left: 0px !important;" class="item col-md-2 col-sm-2 col-xs-4">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle chinausfilter" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ship From <i class="glyphicon glyphicon-triangle-bottom"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                          <a class="dropdown-item" ><input readonly ng-click="searchshipchina();" value="China"></a>
                          <a class="dropdown-item" ><input readonly ng-click="searchshipus();" value="US"></a>
                      </div>
                    </div>
                  </div>

                  <!--
                  <div style="padding-left: 0px !important;" class="item col-md-2 col-sm-2 col-xs-3">
                      <button  ng-click="buscarProducts(busquedaprod);" class="btn btnsearch">Search</button>
                  </div>
-->

                </div>



















              </div>  


          <div class="container">
              <button ng-click="Sincronizar()" class="btn"><span>SINCRONIZAR</span></button>

              <button ng-click="VerDescriptions()" class="btn"><span>Ver Descripcion</span></button>
              
            <table class="table table-bordered">
                <tr>
                    <td>page_number</td>
                    <td>per_page</td>
                    <td>total_pages</td>
                </tr>
    
                <tr >
                    <td>{{Allproducts.msg.page_number}}</td>
                    <td>{{Allproducts.msg.per_page}}</td>
                    <td>{{Allproducts.msg.total_pages}}</td>
                </tr>
            </table>
          </div>


  <!-- Alert msg-->
  <div id="alertskus" class="alert alert-success alertskus2" ng-class="'alert-' + (alert.type || 'success')" uib-alert close="close($index)" 
    ng-repeat="a in alert" 
    type="{{a.type}}">
    <i class="glyphicon glyphicon-ok">&nbsp; </i>
    {{a.value}} 
  </div>


        <div class="container contallprod1">
            <div class="row">
                <div class="item col-md-12 col-sm-12 col-xs-12 subcategories">

                    <div class="ruteallprod">
                        <h3> <a href="#/Home">Home </a> > {{namecategoria}} > {{namesubcategoria}}</h3>  
                    </div>
<!-- 
                    <ul class="list-group" style="margin-bottom: 0px !important;">
                      <li class="list-group-item list-group-item-action list-group-item-success">
                          Sub Categories
                      </li>
                    </ul>
-->
                    <ul class="list-group" style="margin-bottom: 0px !important;" ng-repeat="cat in categories.msg track by $index">
                      <li style="list-style:none;" ng-if="cat.parent_id==parentidsubcategoria">
                        <a class="list-group-item list-group-item-action list-group-item-light" href="#/Result/category-{{cat.cat_id}}/1">{{cat.cat_name}}</a>
                      </li>
                    </ul>
                </div>

            </div>
        </div>



        <div class="container contallprod2">
            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                <div class="">
                  <br>

<!--
                  <div class="row">
                    <div class="item col-md-2 col-sm-3 col-xs-12 itemcarrusel forwidth" ng-repeat="prod in dataProducts track by $index">
                      <a  class="itemhover" href="#/products/{{ prod.sku }}/YB">
                        
                        <p class="theimg" ng-repeat="img in prod.original_img track by $index">
                          <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                        </p>
                        <input id="valueskuid" class="valuesku" type="text" value="{{ prod.sku }}">
                        <input class="valuesparentid" type="hidden" value="{{ prod.parent_id }}">
                        <p  class="title">{{ prod.title }}</p> 
                        <div class="row">
                            <div  class="item col-md-6 col-sm-6 col-xs-6">
                                    <img width="30" src="img/bchina.png">
                                    <p >{{ prod.warehouse_list.YB.price }}</p>
                                    <p >{{ prod.warehouse_list.YB.goods_number }}</p>
                            </div>

                            <div  class="item col-md-6 col-sm-6 col-xs-6">
                                    <p>{{ prod.warehouse_list.FXLAWH.price }}</p>
                                    <p >{{ prod.warehouse_list.FXLAWH.goods_number }}</p>
                            </div>
                        </div>
                        <p class="price">$ {{ prod.warehouse_list.YB.price }}</p>
                      </a>   
                        <p id="" class="btnadd3 {{ulogin}}"><button class="btn btnadd"><a href="#/login" style="text-decoration: none;color:white !important;"><span>+ | </span><span>Add to Import List</span></a></button></p>
                        <p id="" class="btnadd3 {{uwelcome}}"><button id="disable{{prod.sku}}"  ng-click="addToCard(prod)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                    </div>
                  </div>
-->

                  <!--
              
                  <div style="color: #555;margin-top: 20px;"> <label>Page: </label> {{Allproducts.msg.page_number}}</div>
                  <ul class="pagination js-pagination" id="pagination2"></ul>
                  <hr/>

                  -->
              










<div class="row">
  <div class="item col-md-3 col-sm-4 col-xs-12 itemcarrusel forwidth" ng-repeat="prod in filtroProductsOtro track by $index" ng-if="prod.status == 1">
    <div >
    <a  class="itemhover" href="#/products/{{ prod.sku }}/YB">
      <p class="theimg" ng-repeat="img in prod.original_img">
        <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
      </p>
      <input id="valueskuid" class="valuesku" type="text" value="{{ prod.sku }}">
      <input class="valuesparentid" type="hidden" value="{{ prod.parent_id }}">
      <p  class="title">{{ prod.title }}</p>
      <div class="row">
        <div  class="item col-md-6 col-sm-6 col-xs-6">
                <img width="30" src="img/bchina.png">
                <p >{{ prod.warehouse_list.YB.price }}</p>
                <p >{{ prod.warehouse_list.YB.goods_number }}</p>
        </div>

        <div  class="item col-md-6 col-sm-6 col-xs-6">
                <p>{{ prod.warehouse_list.FXLAWH.price }}</p>
                <p >{{ prod.warehouse_list.FXLAWH.goods_number }}</p>
        </div>
      </div>
      <p class="price">$ {{ prod.warehouse_list.YB.price }}</p>
    </a>   
      <p class="btnadd3"><button id="disable{{prod.sku}}"  ng-click="addToCard(prod)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
    </div>
  </div>
</div>
<hr/>
<ul pagination total-items="totalProductsOtro"  items-per-page="numPerPageProductsOtro" page="currentPageProductsOtro"></ul>





















                </div>
              </div>
        
</div>  


</div>