
<div class="col-md-12 col-sm-12 col-xs-12">


<div class="container" ng-controller="HomeController">  


  
        <!-- Alert msg-->
        <div id="alertskus" class="alert alert-success alertskus2" ng-class="'alert-' + (alert.type || 'success')" uib-alert close="close($index)" 
          ng-repeat="a in alert" 
          type="{{a.type}}">
          <i class="glyphicon glyphicon-ok">&nbsp; </i>
          {{a.value}} 
        </div>

        
              
                  <h3>Search Products</h3>

                  
                  
              

                  <div class="row">
                    <div style="padding-right: 0px !important;padding-left: 0px !important;margin-bottom: 15px;" class="item col-md-3 col-sm-3 col-xs-11"> 
                        <select class="txtselect" name="" id="opidselect" onChange="searchhome()">
                          <option value="">--Select Category--</option>
                          <option ng-repeat="cat in categories.msg track by $index" value="{{cat.parent_id}}">{{cat.cat_name}}</option>
                        </select>
                      <!--  
                        <select class="txtselect" ng-model="categories" ng-options="cat.cat_name group by cat.parent_id for cat in categories.msg">
                            <option value="" value="">All Categories</option>
                        </select>  
                      -->  
                      </div>
                    <div style="padding-right: 0px !important;padding-left: 0px !important;" class="item col-md-7 col-sm-7 col-xs-9">
                        <input placeholder="I'm shopping for..." class="txtsearch" type="text" ng-model="busquedaprod" ng-keyup="searchhome()">
                    </div>    
                    <div style="padding-left: 0px !important;" class="item col-md-2 col-sm-2 col-xs-3">
                        <button id="changeclick" ng-click="searchhome()" class="btn btnsearch">Search</button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="panel featured-categories">
                          <div class="panel-body">
                            <ul class="categories-list">
                              <li class="featured">
                                <button type="button" class="margin btn-transparent"><svg class="icon-lg">
                                  <use xlink:href="/images/icons.svg?v=2.10.3#icon-men-s-clothing-accessories"></use></svg> <span>Women's Clothing &amp; Accessories</span>
                                </button>
                              </li>
                              <li class="featured">
                                <button type="button" class="margin btn-transparent"><svg class="icon-lg">
                                  <use xlink:href="/images/icons.svg?v=2.10.3#icon-men-s-clothing-accessories"></use></svg> <span>Men's Clothing &amp; Accessories</span>
                                </button>
                              </li>
                              <li class="featured">
                                <button type="button" class="margin btn-transparent"><svg class="icon-lg">
                                  <use xlink:href="/images/icons.svg?v=2.10.3#icon-men-s-clothing-accessories"></use></svg> <span>MWomen's Sweaters &amp; Accessories</span>
                                </button>
                              </li>
                              <li class="featured">
                                <button type="button" class="margin btn-transparent"><svg class="icon-lg">
                                  <use xlink:href="/images/icons.svg?v=2.10.3#icon-men-s-clothing-accessories"></use></svg> <span>Women's Tops & T-Shirts &amp; Accessories</span>
                                </button>
                              </li>
                              <li class="featured">
                                <button type="button" class="margin btn-transparent"><svg class="icon-lg">
                                  <use xlink:href="/images/icons.svg?v=2.10.3#icon-men-s-clothing-accessories"></use></svg> <span>Men's Shirts &amp; Accessories</span>
                                </button>
                              </li>
                              <li class="featured">
                                <button type="button" class="margin btn-transparent"><svg class="icon-lg">
                                  <use xlink:href="/images/icons.svg?v=2.10.3#icon-men-s-clothing-accessories"></use></svg> <span>Men's Tops & T-Shirts &amp; Accessories</span>
                                </button>
                              </li>
                              <li class="featured">
                                <button type="button" class="margin btn-transparent"><svg class="icon-lg">
                                  <use xlink:href="/images/icons.svg?v=2.10.3#icon-men-s-clothing-accessories"></use></svg> <span>Shoes &amp; </span>
                                </button>
                              </li>
                              <li class="featured">
                                <button type="button" class="margin btn-transparent"><svg class="icon-lg">
                                  <use xlink:href="/images/icons.svg?v=2.10.3#icon-men-s-clothing-accessories"></use></svg> <span>Women's T-Shirts &amp; Accessories</span>
                                </button>
                              </li>

                              <li class="rest"></li>
                            </ul>
                          </div>
                      </div>
                  </div>

 
                  <!--Collections-->
                  <h3>Best-Selling Products</h3>
                  <div class="row" id="spacerow">
                  <div class="carrusel">  
                      <div id="slides_control">
                        <div>
                          <carousel interval="myInterval">
                            <slide  ng-repeat="prod in groupedSlides track by $index" active="slide.active">

                              <div class="item col-md-3 col-sm-4 col-xs-10 itemcarrusel">
                                <a  class="itemhover" href="#/products/{{ prod.image1.sku }}">
                                  <p class="theimg" ng-repeat="img in prod.image1.original_img">
                                    <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                                  </p>
                                  <input id="valueskuid" class="valuesku" type="text" value="{{ prod.image1.sku }}">
                                  <input class="valuesparentid" type="hidden" value="{{ prod.image1.parent_id }}">
                                  <p class="title">{{ prod.image1.title }}</p>
                                  <p class="price">$ {{ prod.image1.warehouse_list.YB.price }}</p>
                                </a>   
                                  <p class="btnadd3"><button id="disable{{prod.image1.sku}}"  ng-click="addToCard(prod.image1)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                              </div> 

                              <div class="item col-md-3 col-sm-4 col-xs-10 itemcarrusel">
                                <a  class="itemhover" href="#/products/{{ prod.image2.sku }}">
                                  <p class="theimg" ng-repeat="img in prod.image2.original_img">
                                    <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                                  </p>
                                  <input id="valueskuid" class="valuesku" type="text" value="{{ prod.image2.sku }}">
                                  <input class="valuesparentid" type="hidden" value="{{ prod.image2.parent_id }}">
                                  <p class="title">{{ prod.image2.title }}</p>
                                  <p class="price">$ {{ prod.image2.warehouse_list.YB.price }}</p>
                                </a>   
                                  <p class="btnadd3"><button id="disable{{prod.image2.sku}}"  ng-click="addToCard(prod.image2)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                              </div>

                              <div class="item col-md-3 col-sm-4 col-xs-10 itemcarrusel">
                                <a  class="itemhover" href="#/products/{{ prod.image3.sku }}">
                                  <p class="theimg" ng-repeat="img in prod.image3.original_img">
                                    <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                                  </p>
                                  <input id="valueskuid" class="valuesku" type="text" value="{{ prod.image3.sku }}">
                                  <input class="valuesparentid" type="hidden" value="{{ prod.image3.parent_id }}">
                                  <p class="title">{{ prod.image3.title }}</p>
                                  <p class="price">$ {{ prod.image3.warehouse_list.YB.price }}</p>
                                </a>   
                                  <p class="btnadd3"><button id="disable{{prod.image3.sku}}"  ng-click="addToCard(prod.image3)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                              </div> 


                              <div class="item col-md-3 col-sm-4 col-xs-10 itemcarrusel">
                                <a  class="itemhover" href="#/products/{{ prod.image4.sku }}">
                                  <p class="theimg" ng-repeat="img in prod.image4.original_img">
                                    <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                                  </p>
                                  <input id="valueskuid" class="valuesku" type="text" value="{{ prod.image4.sku }}">
                                  <input class="valuesparentid" type="hidden" value="{{ prod.image4.parent_id }}">
                                  <p class="title">{{ prod.image4.title }}</p>
                                  <p class="price">$ {{ prod.image4.warehouse_list.YB.price }}</p>
                                </a>   
                                  <p class="btnadd3"><button id="disable{{prod.image4.sku}}"  ng-click="addToCard(prod.image4)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                              </div>  
                            </slide> 
                          </carousel>
                        </div>
                      </div>
                  </div>
                  </div>

                  <!--Collections-->
                  <h3>High Potential Profit</h3>
                  <div class="row" >
                  <div class="carrusel">  
                      <div id="slides_control">
                        <div>
                          <carousel interval="myInterval">
                            <slide  ng-repeat="prod in groupedSlides2 track by $index" active="slide.active">
                              <div class="item col-md-3 col-sm-4 col-xs-10 itemcarrusel">

                                <a  class="itemhover" href="#/products/{{ prod.image1.sku }}">
                                  <p class="theimg" ng-repeat="img in prod.image1.original_img">
                                    <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                                  </p>
                                  <input id="valueskuid" class="valuesku" type="text" value="{{ prod.image1.sku }}">
                                  <input class="valuesparentid" type="hidden" value="{{ prod.image1.parent_id }}">
                                  <p class="title">{{ prod.image1.title }}</p>
                                  <p class="price">$ {{ prod.image1.warehouse_list.YB.price }}</p>
                                </a>   
                                  <p class="btnadd3"><button id="disable{{prod.image1.sku}}"  ng-click="addToCard(prod.image1)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                              </div>    
                              <div class="item col-md-3 col-sm-4 col-xs-10 itemcarrusel">

                                <a  class="itemhover" href="#/products/{{ prod.image2.sku }}">
                                  <p class="theimg" ng-repeat="img in prod.image2.original_img">
                                    <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                                  </p>
                                  <input id="valueskuid" class="valuesku" type="text" value="{{ prod.image2.sku }}">
                                  <input class="valuesparentid" type="hidden" value="{{ prod.image2.parent_id }}">
                                  <p class="title">{{ prod.image2.title }}</p>
                                  <p class="price">$ {{ prod.image2.warehouse_list.YB.price }}</p>
                                </a>   
                                  <p class="btnadd3"><button id="disable{{prod.image2.sku}}"  ng-click="addToCard(prod.image2)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                              </div>
                              <div class="item col-md-3 col-sm-4 col-xs-10 itemcarrusel">

                                <a  class="itemhover" href="#/products/{{ prod.image3.sku }}">
                                  <p class="theimg" ng-repeat="img in prod.image3.original_img">
                                    <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                                  </p>
                                  <input id="valueskuid" class="valuesku" type="text" value="{{ prod.image3.sku }}">
                                  <input class="valuesparentid" type="hidden" value="{{ prod.image3.parent_id }}">
                                  <p class="title">{{ prod.image3.title }}</p>
                                  <p class="price">$ {{ prod.image3.warehouse_list.YB.price }}</p>
                                </a>   
                                  <p class="btnadd3"><button id="disable{{prod.image3.sku}}"  ng-click="addToCard(prod.image3)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                              </div>  
                              
                              <div class="item col-md-3 col-sm-4 col-xs-10 itemcarrusel">

                                  <a  class="itemhover" href="#/products/{{ prod.image4.sku }}">
                                    <p class="theimg" ng-repeat="img in prod.image4.original_img">
                                      <img ng-if="$index==0" class="img-responsive" ng-src="{{img}}">
                                    </p>
                                    <input id="valueskuid" class="valuesku" type="text" value="{{ prod.image4.sku }}">
                                    <input class="valuesparentid" type="hidden" value="{{ prod.image4.parent_id }}">
                                    <p class="title">{{ prod.image4.title }}</p>
                                    <p class="price">$ {{ prod.image4.warehouse_list.YB.price }}</p>
                                  </a>   
                                    <p class="btnadd3"><button id="disable{{prod.image4.sku}}"  ng-click="addToCard(prod.image4)" class="btn btnadd"><span>+ | </span><span>Add to Import List</span></button></p>
                                </div> 

                            </slide> 
                          </carousel>
                        </div>
                      </div>
                  </div>
                  </div>




</div> 
              
</div>  
